<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://bootboxjs.com/bootbox.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="modal" tabindex="-1" role="dialog" id="CompraFinalizada">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informacion de Pago</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div style="text-align:center">
                        <img id="Img" src="~/Imagenes/LogoMercadoPago.png" style="width:300 ; height:300">
                    </div>
                    <div class="form-group">
                        <label class="Name">Nombre Completo:</label>
                        <input type="text" class="form-control" id="TxtNombre" placeholder="Nombre(s)/Apellido Paterno/Apellido Materno" />
                    </div>
                    <div class="form-group">
                        <label class="DE">Direccion de entrega:</label>
                        <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" />
                    </div>
                    <div class="row">

                        <div class="form-group">

                            <div class="col-md-6">
                                <label class="NT">Numero de Tarjeta</label>
                                <input type="text" class="form-control" id="txtNumTarjeta" placeholder="Tarjeta de Credito/Debito" />
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="NT">MM:</label>
                                    <input type="text" class="form-control" id="txtMM" placeholder="MM" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="NT">YY:</label>
                                    <input type="text" class="form-control" id="txtYY" placeholder="YY" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="NT">CVC</label>
                                    <input type="text" class="form-control" id="txtCVC" placeholder="CVC" />
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div style="text-align:center;">
                    @Html.ActionLink("Carrito", "ResumenCompra", "Venta", htmlAttributes: new { @class = "btn btn-danger" })
                    @Html.ActionLink("Pagar", "FormularioPago", "Venta", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#CompraFinalizada').modal();
</script>