@model ML.Medicamento
@{
    ViewData["Title"] = "MedicamentoGetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Venta.css" />
</head>

@foreach (ML.Medicamento medicamento in Model.Medicamentos)
{
    <div class="right">
        <div id="container">
            <div class="card" id="spiderman">
                <div class="card-image">
                    @if (medicamento.Imagen == null || medicamento.Imagen == "")
                    {
                        <img id="Img" src="/Imagenes/MedND.jpg" />
                    }
                    else
                    {
                        <img id="Img" src="data:image/*;base64,@medicamento.Imagen" />
                    }
                </div>
                <div class="card-text">
                    <h2>@medicamento.Nombre</h2>
                    <div>
                        <div><span>@medicamento.Precio &#36;</span><span></span></div>
                    </div>
                    <div style="text-align:center;">
                        <a href="@Url.Action("CartPost", "Venta", new {idMedicamento = medicamento.IdMedicamento, Nombre = medicamento.Nombre, Precio = medicamento.Precio})" class="btn btn-success">Añadir <i class="fa-solid fa-cart-plus" style="color: white"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

